/*@import url('https://fonts.googleapis.com/css?family=Roboto|Bungee');*/
@font-face {
    font-family: Bungee;
    src: local("Bungee"),
        url('fonts/Bungee/Bungee-Regular.ttf');
}
@font-face {
    font-family: Roboto;
    src: local("Roboto"),
        url('fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
    font-family: Audiowide;
    src: local("Audiowide"),
        url('fonts/Audiowide/Audiowide-Regular.ttf');
}
.green{
    background: #1EB24F;
}
.red{
    background: #FF4136;
}
th{
    background-color: #0B4F6C;
    padding: 5px;
    color: #fff; 
    text-align: center;
    font-weight: 300;
}
td {
    padding: 0.3em 0.3em;
    color: #fff; 
    text-align: center;
/*    font-family: 'Roboto'*/
/*    border: 0px none;*/
/*    border: 1px solid #757575;*/
} 
table{
    color: #fff;
    border: 3px solid #0B4F6C;
/*    border-collapse: collapse;*/
    border-spacing: 0px;
    width: 100%;
    table-layout: fixed;
/*    background-color: #3498db;*/
    font-family: "Roboto";
    border-radius: 2px;
}
h1 {
    font-family: 'Audiowide';
    font-weight: normal;
    font-size: 42px;
    color: #fff;
    color: #FBFBFF;
    margin: 0;
    margin-top: -1%;
} 
h2{
    color: #fff;
    font-size: 32px;
}
#coops{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 10px;
}
a{
  /* Applies to all unvisited links */
    text-decoration:  none;
    font-family: "Roboto";
    color:            #fff;
}
a:hover{
    color: #ddd;
}
html {
    background: #ddd;
    height: 100%;
} 
ul{
    columns: 5;
}
iframe{
    width: 100%;
    height: 411px;
    border: none;
    overflow: hidden;
}
body {
    color: #fff; 
    height: inherit;
    background: #01AADA;  /* fallback for old browsers */
/*    background: #114B5F; */
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 100%;
    padding: 2em 2em 4em;
/*            overflow:hidden;*/
}
::-webkit-scrollbar { 
    display: none; 
}
li { 
    list-style-type: none;
    font-size: 18px;
    font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;
} 
#s_button{
    width: 10em;
    border: none;
    border-radius:3px;
    margin: auto;
    padding: 11px 0px;
    text-align:center;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 15px;
    color: #ecf0f1;
    box-shadow: 3px 4px 10px #757575;
    background: #fff;
/*    text-shadow: -1px 0 #757575, 0 1px #757575, 1px 0 #757575, 0 -1px #757575;*/

}
#s_button:active{
    position: relative;
    top: 3px;
/*    box-shadow: 0px 0px #c0392b;*/
    background: #FF4136;
}